extends layout
	
block content
	ul
		each post in posts
			form(method='POST' action='/edit')
				div.form
					label Title:
					input(type='text', name='title' value=post.title)
				div.form
					label Post:
					textarea(name='post' rows='20' cols='20') #{post.body}
					input(type="hidden" name="id" value=post._id) 
				div.form
					button(type='submit') Submit
			form(method='POST' action='/delete')
				div.form
					input(type="hidden" name="id" value=post._id)
					button(type='submit') Delete