extends layout

block content
  form(method='POST' action='/login')
    div.form
        label(for='email') Email:
        input(type='email', placeholder='name@email.com' name='email')
    div.form
        label(for='pw') Password:
        input(type='password' name='password')
    div.form
        button(type='submit') Log In