extends layout

block content
  form(method='POST' action='/post')
    div.form
      label(for='Title') Title:
      input(type='text', placeholder='post title' name='title')
    div.form
      label Post:
      textarea(placeholder='post body' name='post' rows='20' cols='20')
    div.form
      button(type='submit') Create Post