extends layout

block content

  form(method='POST' action='/post')
    div.form-group
      label(for='Title') Title:
      input#email.form-control(type='text', placeholder='post tile' name='title')
    div.form-group
      label(for='post') Blog Post:
      input#email.form-control(type='text', placeholder='post' name='post')
    button(type='submit') Create Post