extends layout

block content
  // register form
  form(method='POST' action='/register')
    div.form
      label(for='email') Email:
      input(type='email', placeholder='name@email.com' name='email')
    div.form
      label(for='pw') Password:
      input(type='password' name='password')
    div.form
      label(for='pw2') Confirm Password:
      input(type='password' name='confirmPassword')
    div.form
      button(type='submit') Sign up