a, a:link {
text-decoration:none;color:#f1f1f1;border-bottom:1px solid #cacaca;transition:background 0.3s;-moz-transition:background 0.3s;-webkit-transition:background 0.3s;-o-transition:background 0.3s;font-weight:normal;
}
a:hover{ 
background:#424242;color:#f1f1f1;transition:background 0.3s;-moz-transition:background 0.3s;-webkit-transition:background 0.3s;-o-transition:background 0.3s;font-weight:normal;
}
a:visited {
text-decoration:none;color:#f1f1f1;border-bottom:1px solid #cacaca;font-weight:normal;
}
body {
color:#f1f1f1;background:#242424;line-height: 1.4;max-width: 600px;padding:10px 20px 40px;margin-bottom: auto;margin-left: auto;margin-right: auto;margin-top: auto;font-family: system-ui;
}
nav {
text-align:center; font-size:1.2em;
}
#headerTitle {
text-align:center; font-size:3em;
}
.form {
max-width: 500px; margin: auto; position: relative; padding-bottom: 20px;
}
.form label {
width: 100px; font-weight: bold;float: left; padding-top: 8px; padding-right: 5px;
}
.form input {
 width: 48%; box-sizing: border-box; border: 1px solid #C2C2C2; border-radius: 3px; padding: 7px; outline: none;
}
.form input:focus {
border: 1px solid #060606;
}
.form textarea {
 width: 48%; box-sizing: border-box; border: 1px solid #C2C2C2; border-radius: 3px; padding: 7px; outline: none;
}
.form textarea:focus {
border: 1px solid #060606;
}
.form button {
margin: auto;text-decoration:none;color:#242424;border-bottom:1px solid #cacaca;transition:background 0.3s;-moz-transition:background 0.3s;-webkit-transition:background 0.3s;-o-transition:background 0.3s;font-weight:normal; padding: 8px 15px 8px 15px;
}
.form button:hover {
background:#424242;color:#f1f1f1;transition:background 0.3s;-moz-transition:background 0.3s;-webkit-transition:background 0.3s;-o-transition:background 0.3s;font-weight:normal;

}
footer {
text-align:center; font-size:1.2em;
}
@media screen and (max-width: 500px){
body{
padding:10px 15px 10px;margin-bottom: auto;margin-left: auto;margin-right: auto;margin-top: auto;    
}
}